extends ../layout

block content
  // Navigation
  nav#mainNav.navbar.navbar-expand-lg.bg-secondary.text-uppercase.fixed-top
    .container
      a.navbar-brand.js-scroll-trigger(href='/') Fuerteventura Airport
      button.navbar-toggler.navbar-toggler-right.text-uppercase.font-weight-bold.bg-primary.text-white.rounded(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        | Menu
        i.fas.fa-bars
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item.mx-0.mx-lg-1
            a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='/') Home
          li.nav-item.mx-0.mx-lg-1
            a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='/usuarios') Users
  // Masthead
  header.masthead.bg-primary.text-white.text-center
    .container.d-flex.align-items-center.flex-column
      // Masthead Avatar Image
      img.masthead-avatar.mb-5(src='/images/Logo.png' alt='')
      // Masthead Heading
      h1.masthead-heading.text-uppercase.mb-0 Fuerteventura Airport
      // Icon Divider
      .divider-custom.divider-light
        .divider-custom-line
        .divider-custom-icon
          i.fas.fa-star
        .divider-custom-line
      // Masthead Subheading
      p.masthead-subheading.font-weight-light.mb-0 Recent Flights - Flight Checker - Don´t Lose Them
  // Portfolio Section
  section#portfolio.page-section.portfolio
    .container
      // Portfolio Section Heading
      h2.page-section-heading.text-center.text-uppercase.text-secondary.mb-0 All Users
      // Icon Divider
      table.table.table-striped.mt-5
        thead
          tr.text-center
            th(scope='col') #
            th(scope='col') NAME
            th(scope='col') EMAIL
            th(scope='col') VERIFICATE
            th.text-center(scope='col')
              a.btn(href= 'usuarios/create') +
        tbody
          each usuario in usuarios
            tr.text-center
              td(scope='row')= usuario.id
              td= usuario.nombre
              td= usuario.email
              td= usuario.verificado ? 'SI' : 'NO'
              td
                a.btn(href= 'usuarios/' + usuario.id + '/update') *
  
  // About Section
  section#about.page-section.bg-primary.text-white.mb-0
    .container
      // About Section Heading
      h2.page-section-heading.text-center.text-uppercase.text-white About
      // Icon Divider
      .divider-custom.divider-light
        .divider-custom-line
        .divider-custom-icon
          i.fas.fa-star
        .divider-custom-line
      // About Section Content
      .row
        .col-lg-8.m-auto.text-center
          p.lead
            | Company in charge of the management and administration of the Fuerteventura airport, with the aim of showing our clients all the available flights and their status, in order to inform them of all the details. If you wish, you can consult this information directly from the official company Aena
        // About Section Button
      .text-center.mt-4
        a.btn.btn-xl.btn-outline-light(href='http://www.aena.es/es/aerolineas/aerolineas.html')
          i.fas.fa-download.mr-2
          |                         Aena
  // Contact Section
 
  // Footer
  footer.footer.text-center
    .container
      .row
        // Footer Location
        .col-lg-4.mb-5.mb-lg-0
          h4.text-uppercase.mb-4 Location
          p.lead.mb-0
            | Aiport From Fuerteventura
            br
            |                             35610, Puerto del Rosario
        // Footer Social Icons
        .col-lg-4.mb-5.mb-lg-0
          h4.text-uppercase.mb-4 Contact
          p.lead.bm-0
            | Telephone Number: 722 278 659
          br
          p.lead.bm-0
            | Email: jmamor2016@gmail.com
        // Footer About Text
        .col-lg-4
          h4.text-uppercase.mb-4 About
          p.lead.mb-0
            | We are a company in charge of flight management
  // Copyright Section
  .copyright.py-4.text-center.text-white
    .container
      small Copyright &copy; Jerobel José Marrero Moreno 2020
  // Scroll to Top Button (Only visible on small and extra-small screen sizes)
  .scroll-to-top.d-lg-none.position-fixed
    a.js-scroll-trigger.d-block.text-center.text-white.rounded(href='#page-top')
      i.fa.fa-chevron-up
  // Portfolio Modals
  // Portfolio Modal 1
  #portfolioModal1.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='portfolioModal1Label' aria-hidden='true')
    .modal-dialog.modal-xl(role='document')
      .modal-content
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true')
            i.fas.fa-times
        .modal-body.text-center
          .container
            .row.justify-content-center
              .col-lg-8
                // Portfolio Modal - Title
                h2#portfolioModal1Label.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Log Cabin
                // Icon Divider
                .divider-custom
                  .divider-custom-line
                  .divider-custom-icon
                    i.fas.fa-star
                  .divider-custom-line
                // Portfolio Modal - Image
                img.img-fluid.rounded.mb-5(src='assets/img/portfolio/cabin.png' alt='')
                // Portfolio Modal - Text
                p.mb-5
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                button.btn.btn-primary(data-dismiss='modal')
                  i.fas.fa-times.fa-fw
                  |                                         Close Window
  // Portfolio Modal 2
  #portfolioModal2.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='portfolioModal2Label' aria-hidden='true')
    .modal-dialog.modal-xl(role='document')
      .modal-content
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true')
            i.fas.fa-times
        .modal-body.text-center
          .container
            .row.justify-content-center
              .col-lg-8
                // Portfolio Modal - Title
                h2#portfolioModal2Label.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Tasty Cake
                // Icon Divider
                .divider-custom
                  .divider-custom-line
                  .divider-custom-icon
                    i.fas.fa-star
                  .divider-custom-line
                // Portfolio Modal - Image
                img.img-fluid.rounded.mb-5(src='assets/img/portfolio/cake.png' alt='')
                // Portfolio Modal - Text
                p.mb-5
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                button.btn.btn-primary(data-dismiss='modal')
                  i.fas.fa-times.fa-fw
                  |                                         Close Window
  // Portfolio Modal 3
  #portfolioModal3.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='portfolioModal3Label' aria-hidden='true')
    .modal-dialog.modal-xl(role='document')
      .modal-content
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true')
            i.fas.fa-times
        .modal-body.text-center
          .container
            .row.justify-content-center
              .col-lg-8
                // Portfolio Modal - Title
                h2#portfolioModal3Label.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Circus Tent
                // Icon Divider
                .divider-custom
                  .divider-custom-line
                  .divider-custom-icon
                    i.fas.fa-star
                  .divider-custom-line
                // Portfolio Modal - Image
                img.img-fluid.rounded.mb-5(src='assets/img/portfolio/circus.png' alt='')
                // Portfolio Modal - Text
                p.mb-5
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                button.btn.btn-primary(data-dismiss='modal')
                  i.fas.fa-times.fa-fw
                  |                                         Close Window
  // Portfolio Modal 4
  #portfolioModal4.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='portfolioModal4Label' aria-hidden='true')
    .modal-dialog.modal-xl(role='document')
      .modal-content
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true')
            i.fas.fa-times
        .modal-body.text-center
          .container
            .row.justify-content-center
              .col-lg-8
                // Portfolio Modal - Title
                h2#portfolioModal4Label.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Controller
                // Icon Divider
                .divider-custom
                  .divider-custom-line
                  .divider-custom-icon
                    i.fas.fa-star
                  .divider-custom-line
                // Portfolio Modal - Image
                img.img-fluid.rounded.mb-5(src='assets/img/portfolio/game.png' alt='')
                // Portfolio Modal - Text
                p.mb-5
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                button.btn.btn-primary(data-dismiss='modal')
                  i.fas.fa-times.fa-fw
                  |                                         Close Window
  // Portfolio Modal 5
  #portfolioModal5.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='portfolioModal5Label' aria-hidden='true')
    .modal-dialog.modal-xl(role='document')
      .modal-content
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true')
            i.fas.fa-times
        .modal-body.text-center
          .container
            .row.justify-content-center
              .col-lg-8
                // Portfolio Modal - Title
                h2#portfolioModal5Label.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Locked Safe
                // Icon Divider
                .divider-custom
                  .divider-custom-line
                  .divider-custom-icon
                    i.fas.fa-star
                  .divider-custom-line
                // Portfolio Modal - Image
                img.img-fluid.rounded.mb-5(src='assets/img/portfolio/safe.png' alt='')
                // Portfolio Modal - Text
                p.mb-5
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                button.btn.btn-primary(data-dismiss='modal')
                  i.fas.fa-times.fa-fw
                  |                                         Close Window
  // Portfolio Modal 6
  #portfolioModal6.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='portfolioModal6Label' aria-hidden='true')
    .modal-dialog.modal-xl(role='document')
      .modal-content
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true')
            i.fas.fa-times
        .modal-body.text-center
          .container
            .row.justify-content-center
              .col-lg-8
                // Portfolio Modal - Title
                h2#portfolioModal6Label.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Submarine
                // Icon Divider
                .divider-custom
                  .divider-custom-line
                  .divider-custom-icon
                    i.fas.fa-star
                  .divider-custom-line
                // Portfolio Modal - Image
                img.img-fluid.rounded.mb-5(src='assets/img/portfolio/submarine.png' alt='')
                // Portfolio Modal - Text
                p.mb-5
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                button.btn.btn-primary(data-dismiss='modal')
                  i.fas.fa-times.fa-fw
                  |                                         Close Window
  // Bootstrap core JS



























